$font-stack: Helvetica, sans-serif;
$primary-color: #dee2e6;
$font-size: 14px;

body {
    font: $font-stack;
    font-size: $font-size;
}

table {
    border: 1px solid $primary-color;
    border-collapse: collapse;

    th {
        border: 1px solid $primary-color;
        border-bottom-width: 2px;
    }
    td {
        padding: 5px;
        border: 1px solid $primary-color;
    }
}
p {
    padding: 10px;
    font-size: $font-size;
}
.search-area {
    margin: 10px;

    input {
        border: 1px solid $primary-color;
        border-radius: 3px;
    }
}